$font-logo: 'Heebo', sans-serif
$font-primary: 'Poppins', sans-serif

$dark-color: hsla(0, 0%, 20%, 1)
$medium-color: hsla(0, 0%, 31%, 1)
$primary-color: hsla(202, 71%, 52%, 1)
$accent-color: hsla(0, 79%, 63%, 1)
$light-color:	hsl(0, 0%, 100%)

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body,
input,
select,
button
  font-family: $font-primary
  font-weight: 400
  color: $medium-color
  background-color: hsla(0, 0%, 100%, 1)  
  font-size: 12px
  line-height: 18px

body
  height: 100%
  min-height: 100vh
  position: relative
  background-color: $light-color

img:not(.icon)
  border-radius: 12px 

img:not(.icon):not(.avatar),
  width: 100%

a
  text-decoration: none

button
  background-color: $primary-color
  color: hsla(0, 0%, 95%, 1)
  color: #f2f2f2
  border-radius: 12px
  width: 94px
  padding: 11px 27px
  border: none
  cursor: pointer

  &:hover
    background-color: darken($primary-color, 10%)
    transition: all 1s

section
  padding-bottom: 146px

.container
  max-width: 1220px
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px

.title
  font-weight: 500
  font-size: 24px
  line-height: 36px
  margin-bottom: 10px
  white-space: pre-line

.main
  &-header
    display: flex
    justify-content: space-between
    padding: 51px 56px
    z-index: 1
    align-items: center

  &-menu
    list-style: none
    display: flex
    flex-direction: column
    gap: 2rem

    font-size: 24px
    line-height: 36px

    &-item
      a
        color: $dark-color

      &:hover
        opacity: .5
        transition: all .5s

.hero
  &-subtitle
    color: $primary-color
    font-weight: 500
    font-size: 12px
    line-height: 18px
    display: block

  &-title
    color: $dark-color
    font-weight: 500
    font-size: 48px
    line-height: 24px
    margin-bottom: 36px

.suscription
  &-title
    color: $dark-color
    font-weight: 500
    font-size: 48px
    line-height: 24px
    margin-bottom: 36px

  &-subtitle
    display: block
    color: hsla(0, 0%, 51%, 1)
    font-size: 10px
    line-height: 15px
    margin-bottom: 9px

  &-description
    margin-bottom: 31px

  &-form-container
    grid-area: c4
    display: flex
    border-radius: 12px
    background-color: hsl(0, 0%, 94.9%)
    padding: 4px
    gap: .5rem
    max-width: 350px

  &-input
    border-radius: 12px
    height: 57px
    background: transparent
    border: none
    padding: 15px 21px
    width: 100%

  .title
    color: $dark-color
    font-size: 36px
    line-height: 54px
    margin-bottom: 35px 

.service
  &-grid
    display: grid
    grid-template-columns: 1fr
    gap: 2rem

  &-title
    font-weight: 700
    color: $dark-color
    font-size: 24px
    line-height: 36px
    margin-bottom: 24px

  &-icon
    width: 67px
    height: 67px
    border-radius: 16px
    display: flex
    justify-content: center
    background-color: $primary-color
    margin-bottom: 35px

  &-cta-btn
    font-size: 16px
    line-height: 24px
    color: hsl(0, 0%, 51%)
    background-color: hsl(0, 0%, 87.8%)
    padding: 9px 12px
    border-radius: 12px
    margin-top: 30px
    display: inline-block
    transition: 1s

  &-item
    border-radius: 24px
    padding: 46px 34px

    &:hover
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1)
      cursor: pointer

      .service-cta-btn
        background-color: $primary-color
        color: $light-color

    &:nth-child(2)
      > .service-icon
        background-color: hsla(145, 63%, 42%, 1)

    &:last-child
      > .service-icon
        background-color: $accent-color

.porfolio
  &-grid
    display: grid
    grid-template-columns: 1fr
    column-gap: 31px
    row-gap: 36px

  &-subtitle
    display: block
    color: hsla(0, 0%, 51%, 1)
    font-size: 12px
    line-height: 18px
    margin-top: 20px

  &-title
    color: $dark-color
    font-size: 18px
    line-height: 27px
    font-weight: 500

  &-img:hover
    opacity: .8
    cursor: pointer

  &-cta
    color: $primary-color
    display: block
    margin-top: 36px
    font-weight: 500
    font-size: 18px
    line-height: 27px

.team
  display: grid
  gap: 2rem
  grid-template-columns: 1fr
  grid-template-areas: "c-text" "c-img"
  
  &-subtitle
    font-size: 18px
    line-height: 27px
    color: $accent-color

  &-img-container
    display: grid
    grid-template-areas: "img1 img2" "img1 img3"
    gap: 24px

    .team-item
      &:first-of-type
        grid-area: img1
        justify-self: flex-end
        max-width: 320px
        padding-top: 60px

      &:nth-child(2)
        grid-area: img2
        max-width: 260px

      &:last-of-type
        grid-area: img3
        max-width: 291px

.testimonial
  &-item
    display: flex
    gap: 30px

    &-img
      width: 82px
      height: 82px
      object-fit: cover

  &-title
    display: block
    font-size: 24px
    line-height: 36px

  &-subtitle
    display: block
    color: $medium-color
    font-size: 18px
    line-height: 27px 

footer
  background-color: hsla(248, 35%, 8%, 1)
  color: $light-color
  padding-top: 46px
  
  .main-footer
    display: grid
    grid-template-columns: 1fr
    gap: 2rem
    padding-bottom: 46px

    .footer
      &-menu
        list-style: none
        display: flex
        flex-direction: column
        gap: 10px
        font-size: 18px
        line-height: 36px
      
      &-social
        .social-links
          list-style: none
          display: flex 
          gap: 11px
          margin-top: 10px

          a:hover
            opacity: .6
            transition: all .5s

  .footer-credits
    font-size: 12px
    line-height: 16px
    text-align: center
    color: $medium-color
    padding-bottom: 20px
    
    a
      color: lighten($dark-color, 25%)
      font-weight: 700
      text-decoration: none

      &:hover,
      &:active,
      &:focus
        color: darken($medium-color, 10%)

.main-logo,
.footer-logo
  font-size: 36px
  line-height: 53px
  font-family: $font-logo
  font-weight: 800

.main-logo
  color: $dark-color

.footer-logo
  color: $light-color

//@media (min-width: 375px)
  

// @media (min-width: 768px)

@media (min-width: 992px)
  html,
  body,
  input,
  select,
  button,
  p
    font-size: 18px
    line-height: 27px

  section
     padding-bottom: 200px

  .toggle-nav-btn
    display: none

  .main
    &-menu
      font-size: 24px
      line-height: 36px
      flex-direction: row

  .title
    font-size: 36px
    line-height: 54px
    margin-bottom: 42px

  .hero
    display: grid
    grid-template-areas: ". c1 ." ". c2 ." "c3 c3 c3"
    grid-template-columns: 1fr 3.5fr 3fr
    padding-bottom: 42px

    &-subtitle
      font-size: 18px
      line-height: 27px
      margin-bottom: 16px
      grid-area: c1

    &-title
      font-size: 48px
      line-height: 72px
      margin-bottom: 42px
      grid-area: c2
      white-space: pre-line
    
    &-img
      grid-area: c3
      padding-left: 56px
      padding-right: 56px

  .suscription
    display: grid
    grid-template-areas: ". c1 ." ". c2 ." ". c3 ." ". c4 ." 
    grid-template-columns: 1fr 2fr 4.5fr

    .title
      grid-area: c1
      white-space: pre-line

    &-description
      grid-area: c2
      margin-bottom: 42px

    &-subtitle
      font-size: 14px
      line-height: 21px
      grid-area: c3

    &-form-container
      grid-area: c4

  .service
    &-grid
      grid-template-columns: repeat(3, minmax(300px, 1fr))

    &-description
      font-size: 16px
      line-height: 24px

  .porfolio
    &-grid
      grid-template-columns: repeat(2, minmax(300px, 1fr))

    &-subtitle
      font-size: 14px
      line-height: 21px

    &-title
      font-size: 24px
      line-height: 36px

    &-item:nth-child(odd)
      padding-top: 176px

    &-cta
      text-align: right
      margin-top: -36px
      font-size: 24px
      line-height: 36px
      

  .team
    grid-template-areas: "c-text c-img"
    grid-template-columns: 1fr 2fr

    &-text-container
      grid-area: c-text

    &-img-container
      grid-area: c-img
      grid-template-columns: repeat(2, minmax(200px, 1fr))

      &:first-of-type
        padding-top: 0

      &:nth-child(2)
        margin-top: -120px

    &-subtitule
      font-size: 18px
      line-height: 27px

    &-description
      font-size: 16px
      line-height: 24px
  
  footer
    .main-footer  
      display: grid
      grid-template-columns: 1.5fr 2.5fr 3fr