$font-logo: 'Heebo', sans-serif
$font-primary: 'Poppins', sans-serif

$dark-color: hsla(0, 0%, 20%, 1)
$medium-color: hsla(0, 0%, 31%, 1)
$primary-color: hsla(202, 71%, 52%, 1)
$accent-color: hsla(0, 79%, 63%, 1)
$light-color:	hsl(0, 0%, 100%)

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

*
  scroll-behavior: smooth

html,
body,
input,
select,
button
  font-family: $font-primary
  font-weight: 400
  color: $medium-color
  background-color: hsla(0, 0%, 100%, 1)  
  font-size: 12px
  line-height: 18px

body
  height: 100%
  min-height: 100vh
  position: relative
  background-color: $light-color

img:not(.icon)
  border-radius: 12px 

img:not(.icon):not(.avatar)
  width: 100%

a
  text-decoration: none

  &:hover
    opacity: .8

button
  background-color: $primary-color
  color: hsla(0, 0%, 95%, 1)
  color: #f2f2f2
  border-radius: 12px
  width: 94px
  padding: 11px 27px
  border: none
  cursor: pointer

  &:hover
    background-color: darken($primary-color, 10%)
    transition: all 1s

.main-nav
  display: block

section
  padding-bottom: 100px

  &.hero
    padding-bottom: 22px

.container
  max-width: 1220px
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px

.title
  font-weight: 500
  font-size: 24px
  line-height: 36px
  margin-bottom: 27px
  white-space: pre-line
  padding: 0 40px

.main
  &-header
    display: flex
    justify-content: space-between
    margin-bottom: 36px
    padding: 13px 10px
    z-index: 1
    align-items: center
    position: fixed
    background: $light-color
    width: 100%

  &-nav
    background-color: $light-color
    position: fixed
    left: 100%
    right: 0
    top: 0
    width: 100%
    height: 100vh
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px
    transition: left 300ms 300ms

    display: flex
    flex-direction: column
    padding: 9rem 3rem 0
    text-align: left

  &-menu
    list-style: none
    display: flex
    flex-direction: column
    gap: 2rem

    font-size: 24px
    line-height: 36px

    &-item
      a
        color: $dark-color

      &:hover
        opacity: .5
        transition: all .5s

  &-content
    padding-top: 101px

#toggle-btn
  &-close
    z-index: 1
    height: 35px
    position: fixed
    right: 1rem
    top: 1rem
    visibility: hidden
    background-color: $light-color

  > img
    height: 35px
    position: fixed
    right: 1rem
    top: 1rem

  &:focus
    ~ #toggle-btn-close
      visibility: visible
      animation: rollIn 1.5s ease 0s 1 normal forwards

    ~ .main-nav
      left: 5%
      transition-delay: 0

.hero
  &-subtitle
    color: $primary-color
    font-weight: 500
    font-size: 12px
    line-height: 18px
    display: block
    padding: 0 50px

  &-title
    color: $dark-color
    font-weight: 500
    font-size: 24px
    line-height: 36px
    margin-bottom: 15px
    padding: 0 50px
    white-space: pre-line

  &-img > img
    padding: 10px
    min-height: 145px
    object-fit: cover

.suscription
  padding: 0 50px 100px

  &-title
    color: $dark-color
    font-weight: 500
    font-size: 48px
    line-height: 24px
    margin-bottom: 36px

  &-subtitle
    display: block
    color: hsla(0, 0%, 51%, 1)
    font-size: 10px
    line-height: 15px
    margin-bottom: 9px

  &-description
    margin-bottom: 31px

  &-form-container
    grid-area: c4
    display: flex
    border-radius: 12px
    background-color: hsl(0, 0%, 94.9%)
    padding: 4px
    gap: .5rem
    max-width: 350px

  &-input
    border-radius: 12px
    height: 47px
    background: transparent
    border: none
    padding: 15px 21px
    width: 100%

  .title
    color: $dark-color
    font-size: 24px
    line-height: 36px
    margin-bottom: 36px
    padding: 0

.service
  &-grid
    display: grid
    grid-template-columns: 1fr
    gap: 2rem

  &-title
    font-weight: 700
    color: $dark-color
    font-size: 24px
    line-height: 36px
    margin-bottom: 24px

  &-icon
    width: 67px
    height: 67px
    border-radius: 16px
    display: flex
    justify-content: center
    background-color: $primary-color
    margin-bottom: 35px

  &-cta-btn
    font-size: 16px
    line-height: 24px
    color: hsl(0, 0%, 51%)
    background-color: hsl(0, 0%, 87.8%)
    padding: 9px 12px
    border-radius: 12px
    margin-top: 30px
    display: inline-block
    transition: 1s

  &-item
    border-radius: 24px
    padding: 46px  40px

    &:hover
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1)
      cursor: pointer

      .service-cta-btn
        background-color: $primary-color
        color: $light-color

    &:nth-child(2)
      > .service-icon
        background-color: hsla(145, 63%, 42%, 1)

    &:last-child
      > .service-icon
        background-color: $accent-color

.porfolio
  &-grid
    display: grid
    grid-template-columns: 1fr
    column-gap: 31px
    row-gap: 36px

  &-subtitle
    display: block
    color: hsla(0, 0%, 51%, 1)
    font-size: 12px
    line-height: 18px
    margin-top: 20px

  &-title
    color: $dark-color
    font-size: 18px
    line-height: 27px
    font-weight: 500

  &-img:hover
    opacity: .8
    cursor: pointer

  &-cta
    color: $primary-color
    margin-top: 36px
    font-weight: 500
    font-size: 18px
    line-height: 27px

    display: flex
    gap: 12px

    > img
        filter: invert(58%) sepia(16%) saturate(2117%) hue-rotate(161deg) brightness(90%) contrast(90%)

  .title
    font-size: 24px
    line-height: 36px
    padding: 0 40px

.team
  display: grid
  gap: 2rem
  grid-template-columns: 1fr
  grid-template-areas: "c-text" "c-img"

  &-text-container
    display: grid
    grid-template-areas: "t1" "t2" "."

  &-text-group
    grid-area: t2
  
  &-subtitle
    font-size: 18px
    line-height: 27px
    color: $accent-color
    grid-area: t1
    align-self: end

  &-description
    font-size: 16px
    line-height: 24px
    white-space: pre-line

  .title
    padding: 0
    font-size: 36px
    line-height: 54px

  &-img-container
    display: grid
    grid-template-areas: ". img2" "img1 img2" "img1 img3"
    gap: 9px

    .team-item
      &:first-of-type
        grid-area: img1
        justify-self: flex-end

      &:nth-child(2)
        grid-area: img2
        max-width: 90%

      &:last-of-type
        grid-area: img3

.testimonial
  &-item
    display: flex
    gap: 30px

    &-img
      width: 82px
      height: 82px
      object-fit: cover

  .title
    font-size: 24px
    line-height: 36px
    padding: 0
    white-space: initial

  &-title
    display: block
    font-size: 24px
    line-height: 36px

  &-subtitle
    display: block
    color: $medium-color
    font-size: 18px
    line-height: 27px 

footer
  background-color: hsla(248, 35%, 8%, 1)
  color: $light-color
  padding: 36px 40px
  
  .main-footer
    display: grid
    grid-template-columns: 1fr
    gap: 64px
    padding-bottom: 46px

    .footer
      &-menu
        list-style: none
        display: flex
        flex-direction: column
        gap: 10px
        font-size: 18px
        line-height: 36px

        &-item > a
          color: $light-color

          &:hover
            color: darken($light-color, 20%)
            transition: all 1s

      &-social
        .social-links
          list-style: none
          display: flex 
          gap: 11px
          margin-top: 10px

          a:hover
            opacity: .6
            transition: all .5s

      &-suscription
        .suscription-subtitle
          color: hsla(0, 0%, 95%, 1)

  .footer-credits
    font-size: 12px
    line-height: 16px
    text-align: center
    color: $medium-color
    padding-bottom: 20px
    margin-top: 154px
    
    a
      color: lighten($dark-color, 25%)
      text-decoration: none
      white-space: nowrap
      transition: all .5s ease

      &:hover,
      &:active,
      &:focus
        color: darken($medium-color, 10%)

    img.icon-link
      width: 10px

.main-logo,
.footer-logo
  font-size: 36px
  line-height: 53px
  font-family: $font-logo
  font-weight: 800

.main-logo
  color: $dark-color

.footer-logo
  color: $light-color

@media (min-width: 620px)
  .team
    grid-template-columns: 1fr 1fr

@media (min-width: 768px)
  .porfolio
    &-grid
      grid-template-columns: repeat(2, minmax(300px, 1fr))

    &-item:nth-child(odd)
      padding-top: 100px

    &-cta
      text-align: right
      margin-top: -28px
      font-size: 18px
      line-height: 27px
      float: right

  .testimonial
    display: grid
    grid-template-areas: "c1 ." "c2 ."
    grid-template-columns: 3fr 1fr

    .title
      grid-area: c1

    .testimonial-item
      grid-area: c2

@media (min-width: 992px)
  html,
  body,
  input,
  select,
  button,
  p
    font-size: 18px
    line-height: 27px

  section
    padding-bottom: 200px

  #toggle-btn,
  #toggle-btn-close
    display: none

  .main
    &-header
      padding: 51px 48px

    &-nav
      display: block
      padding: 0
      position: initial
      height: initial
      box-shadow: none

    &-menu
      font-size: 24px
      line-height: 36px
      flex-direction: row
      justify-content: end
      
    &-content
      padding-top: 197px

  .title
    font-size: 36px
    line-height: 54px
    margin-bottom: 42px
    padding: 0

  .hero
    display: grid
    grid-template-areas: ". c1 ." ". c2 ." "c3 c3 c3"
    grid-template-columns: 2fr 5.4fr 4fr
    padding-bottom: 42px

    &-subtitle
      font-size: 18px
      line-height: 27px
      margin-bottom: 16px
      grid-area: c1
      padding: 0

      max-width: 1220px

    &-title
      font-size: 48px
      line-height: 72px
      margin-bottom: 42px
      grid-area: c2
      white-space: pre-line
      padding: 0

      max-width: 1220px
    
    &-img
      grid-area: c3
      padding-left: 56px
      padding-right: 56px

      > img
        padding: 0

  .suscription
    display: grid
    grid-template-areas: ". c1 ." ". c2 ." ". c3 ." ". c4 ." 
    grid-template-columns: .5fr 2fr 4.5fr
    padding: 0 0 200px
    max-width: 1220px
    margin: 0 auto

    .title
      grid-area: c1
      white-space: pre-line
      font-size: 48px
      line-height: 72px
      padding: 0

    &-description
      grid-area: c2
      margin-bottom: 42px

    &-subtitle
      font-size: 14px
      line-height: 21px
      grid-area: c3

    &-form-container
      grid-area: c4

    &-input
      height: 57px

  .service
    &-grid
      grid-template-columns: repeat(3, minmax(300px, 1fr))

    &-description
      font-size: 16px
      line-height: 24px

  .porfolio

    &-subtitle
      font-size: 14px
      line-height: 21px

    &-title
      font-size: 24px
      line-height: 36px

    &-item:nth-child(odd)
      padding-top: 176px

    .title
      font-size: 36px
      line-height: 54px
      padding: 0

    &-cta
      margin-top: -38px
      font-size: 24px
      line-height: 36px
      position: relative

  .team
    grid-template-areas: "c-text c-img"
    grid-template-columns: 1fr 2fr

    &-text-container
      grid-area: c-text

    &-img-container
      grid-area: c-img
      grid-template-columns: repeat(2, minmax(200px, 1fr))
      gap: 24px

      &:first-of-type
        padding-top: 0

      &:nth-child(2)
        margin-top: -58px

    &-subtitule
      font-size: 18px
      line-height: 27px
  
  .testimonial
    .title
      font-size: 36px
      line-height: 54px

  footer
    padding: 46px 0 0
  
    .main-footer
      grid-template-columns: 1.5fr 2.5fr 3fr
      gap: 2rem
      padding-bottom: 0

@keyframes rollIn
  0%
    opacity: 0
    transform: rotate(-540deg) scale(2)

  100%
    opacity: 1
    transform: rotate(0) scale(1)